<% if resource.errors.any? %>
	<div id="error_expelanation">
		<h2>エラーが発生しました。以下ご確認お願い致します。</h2>
		<ul>
			<% resource.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>